<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    #RewriteCond %{SERVER_PORT} !443
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L]
</IfModule>
<IfModule mod_headers.c>
	# 1 YEAR
	<FilesMatch "\.(ico|pdf|flv)$">
	Header set Cache-Control "max-age=29030400, public"
	</FilesMatch>
	# 1 WEEK
	<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
	# 2 DAYS
#	<FilesMatch "\.(xml|txt|css|js)$">
#	Header set Cache-Control "max-age=86400, proxy-revalidate"
#	</FilesMatch>
</IfModule>
<IfModule mod_deflate.c>
        <FilesMatch "\.(js|css)$">
                SetOutputFilter DEFLATE
        </FilesMatch>
		AddOutputFilterByType DEFLATE text/text text/plain text/css application/x-javascript application/javascript text/javascript text/html
</IfModule>
