version: '3'

services:
  meican:
    env_file:
      - .env
    entrypoint: ["./docker_for_build/wait-for-mysql.sh", "db", "/docker-entrypoint.sh"]
    container_name: meican-app
    tty: true
    ports:
      - "${MEICAN_PORT:-80}:80"
    depends_on:
      - db
    links:
      - db

  db:
    image: mysql:5.7
    container_name: meican-db
    volumes:
      - db-meican:/var/lib/mysql
    env_file:
      - .env
  
volumes:
  db-meican:
