/* 
    Document   : login1
    Created on : 23/05/2011, 12:53:19
    Author     : pfbiasuz
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0px;
}

html,body{
    overflow: auto;
}

div#header {
    width: 100%;
    height: 100px;
    background-color: #27567C;
}

div#footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
}
div#footer a:link, div#footer a:visited{
    color: #EEEEEE;
    font-size: 0.8em;
}
/*
#header a:link, #header a:visited, #header a:hover {
    color:white;
    text-decoration: none;
}*/

div#logo_box {
    width: 24%;
    float: left;
    margin: 4px;
}

div#info_box {
    float: right;
    margin-top: 68px;
}

div#content {
    width: 100%;
    clear: both;
    background-color: #FFF;
    float: left;
    position: relative;
}
/*
div#content a:hover {
    text-decoration: underline;
}*/

div#login_form {
    width: 275px;
    float: right;
    background-color: #eee;
    padding: 20px 30px;
    margin: 20px;
}

div#login_form input[type=text], div#login_form input[type=password] {
    width: 220px;
    font-size: 150%;
    height: 24px;
    margin: 2px 0;
}

div#login_form label {
    float: left;
    width: 40px;
    margin-right: 10px;
    padding-top: 5px;
}

div#login_form p {
    text-align: center;
    margin-bottom: 0px;
}

div#login_form hr {
}

div#figure {
    float: left;
    width: 40%;
    padding: 20px;
}
div#text_info{
    float: left;
    width: 25%;
}
div#message {
    color:red;
    text-align: center;
    font-weight: bold;
}


div#login_box {
    width: 390px;
    float: right;
}

div#login_form {
    background-color: whiteSmoke;
    padding: 20px 50px 20px 40px;
    margin: 30px;
    border: 1px solid #E5E5E5;
}

div#login_form label {
    float: left;
    width: 40px;
    margin-right: 10px;
    padding-top: 6px;
    font-weight: bold;
}

div#login_form input[type="text"], div#login_form input[type="password"] {
    width: 100%;
    font-size: 14px;
    height: 28px;
    margin: 2px 0;
    padding: 0 6px;
    display: inline-block;
}

div#login_form input[type="submit"] {
    font-size: 13px;
    height: 24px;
    margin: 16px 0;
}