/* 
    Document   : login1
    Created on : 23/05/2011, 12:53:19
    Author     : pfbiasuz
    Description:
        Purpose of the stylesheet follows.
*/

/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/

html { font-size: 100%; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 12px; line-height: 1.231; }

body, button, input, select, textarea { font-family: arial, sans-serif, helvetica; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
*/

::-moz-selection { background: #c00; color: #fff; text-shadow: none; }
::selection { background: #c00; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/

img { border: 0; -ms-interpolation-mode: bicubic; }

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
*/

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
*/

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
*/

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
*/

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
*/

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
*/

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }



/*h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}*/
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}

/* Tabela de disposição dos boxes iniciais */
body {
    margin: 0px;
}

div#header {
    width: 100%;
    height: 100px;
    background-color: #27567C;
}

div#footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
}
div#footer a:link, div#footer a:visited{
    color: #EEEEEE;
    font-size: 0.8em;
}
/*
#header a:link, #header a:visited, #header a:hover {
    color:white;
    text-decoration: none;
}*/

div#logo_box {
    width: 24%;
    float: left;
    margin: 4px;
}

div#info_box {
    width: 50%;
    float: right;
    margin-top: 72px;
    font-size: 110%;
    text-align: right;
}

div#content {
    width: 100%;
    clear: both;
    background-color: #FFF;
    float: left;
    position: relative;
}
/*
div#content a:hover {
    text-decoration: underline;
}*/

div#login_form {
    width: 275px;
    float: right;
    background-color: #eee;
    padding: 20px 30px;
    margin: 20px;
}

div#login_form input[type=text], div#login_form input[type=password] {
    width: 220px;
    font-size: 150%;
    height: 24px;
    margin: 2px 0;
}

div#login_form label {
    float: left;
    width: 40px;
    margin-right: 10px;
    padding-top: 5px;
}

div#login_form p {
    text-align: center;
    margin-bottom: 0px;
}

div#login_form hr {
}

div#figure {
    float: left;
    width: 40%;
    padding: 20px;
}
div#text_info{
    float: left;
    width: 25%;
}
div#message {
    color:red;
    text-align: center;
    font-weight: bold;
}



#logo, #info_box {
    height: 26px;
    color: #D8E7F3;
}


#info_box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#info_box ul a {
    float: right;
    display: block;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #D8E7F3;
    text-decoration: none;	
    text-shadow: 2px 2px 0.2em black, -1px -1px #444;
}

#info_box ul a:hover {
    /*background-color: #1D405C; */
    background-color: #9D3C3E;
    /*background-color: #7C4D27;*/
}

.ui-state-default {
    box-shadow: inset 2px 2px 2px #FFFFFF, inset -1px -1px 2px #DDD;
    /*text-shadow: 2px 2px 1px white;*/
}

.ui-state-hover, .ui-state-active{
    box-shadow: inset 2px 2px 2px #FAA, inset -1px -1px 2px #922;
    text-shadow: -1px -1px 2px #922, 1px 1px 2px #FAA;
    /*box-shadow: inset 2px 2px 2px #6967C3, inset -1px -1px 2px #121057;
    text-shadow: -1px -1px 2px #121057, 1px 1px 2px #6967C3;*/
}

input[type="text"]:hover, select:hover, input[type="radio"]:hover, input[type="password"]:hover, input[type="checkbox"]:hover {
    border: thin solid red;
}


input.ui-button {
    padding: 4px 8px;
    height: 24px;
    line-height: 16px;
    margin: 0 2px;
    box-sizing: border-box;
    min-width: 74px;
}

input[type="text"], input[type="password"], select {
    border: thin solid #BBB;
    color: #4F4F4F;
    background-color: white;
}




div#login_box {
    width: 390px;
    float: right;
}

div#login_form {
    background-color: whiteSmoke;
    padding: 20px 50px 20px 40px;
    margin: 30px;
    border: 1px solid #E5E5E5;
}

div#login_form label {
    float: left;
    width: 40px;
    margin-right: 10px;
    padding-top: 5px;
    font-weight: bold;
}

div#login_form input[type="text"], div#login_form input[type="password"] {
    width: 100%;
    font-size: 15px;
    height: 32px;
    margin: 2px 0;
    padding: 0 6px;
    display: inline-block;
}

a {
    color: #00E;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
    text-decoration: underline;
}

div#login_form input[type="submit"] {
    font-size: 13px;
    height: 24px;
    margin: 6px 0;
}

input[type=submit], input[type=button], button {
    display: inline;
    min-width: 74px;
    width: auto;
    height: 24px;
    line-height: 16px;
    padding: 4px 8px;
    margin: 0 2px;
    border: 1px solid #BBB;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 2px #FFFFFF, inset -1px -1px 2px #DDD;
    background: #EEE;
    color: #4F4F4F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
button:hover, input[type=submit]:hover, input[type=button]:hover {
    box-shadow: inset 2px 2px 2px #FAA, inset -1px -1px 2px #922;
    text-shadow: -1px -1px 2px #922, 1px 1px 2px #FAA;
    border: 1px solid #853A40;
    background-color: #F44;
    color: white;
}

input[disabled], button[disabled]{
    opacity: .35; filter:Alpha(Opacity=35); background-image: none; 
}

.ui-state-disabled, [disabled] { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

:focus {outline: 0;} /*no outline (in chrome) */