/* 
    Document   : teste
    Created on : 25/02/2011, 13:35:22
    Author     : pfbiasuz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Tabela de disposição dos boxes iniciais */
body {
       font-family: helvetica, arial;
       font-size: 12px;
       margin: 0;
		width: 100%;
       height: 100%;
}

div#header {
    width: 100%;
    height: 110px;
    min-width: 800px;
    color: white;
    clear: both;
    float: left;
    font-size: 14px;
    background-color: #3a5879;
}
#header a:link, #header a:visited {
    color:white;
    text-decoration: none;
}

#header a:hover{
    text-decoration: underline;
}

div#logo_box {
    width: 10%;
    float: left;

}/*
div#info_box {
    min-width: 500px;
    width: 27%;
    margin-right: 15px;
    margin-top: 90px;
    font-size: 12px;
    text-align: right;
    overflow: auto;
    float: right;
}*/

div#content {
    width: 100%;
    min-width: 950px;
    clear: both;
    padding-bottom: 5px;
    background-color: #FFF;
    float: left;
    margin-bottom: 25px;
}

div#footer {
    clear: both;
}

div#main a:link, div#main a:visited {
        text-decoration: none;
        color: #0000CC;
}

div#content a:hover {
        text-decoration: underline;
}

div#flash_box {
    width: 100%;
    vertical-align: bottom;        
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 20px;
}
/*div#menu {
    width: 10%;
    min-width: 120px;
    float: left;
    background-color: #EEEEEE;
    color: #000000;
    padding: 10px;
    height: 100%;
}*/
div#main {
    width: 80%;
    float: left;
    background-color: #FFF;
    margin-left: 12px;  
}

div#load_img {
    text-align: center;
    margin: 150px auto;
}

img.logo {
    padding: 10px;
    border: 1px;
    margin: 0px;
}

.icons td {
    font-size: 16px;
}

table {
    font-family: Helvetica, Arial;
    min-width: 70%;
    width: 70%;
    border-collapse: collapse;
    padding: 0px;
    border: 1px solid #000000
}

table.add {
    font-family: Helvetica, Arial;
    border-collapse: collapse;
    padding: 0px;
    min-width: 0;
    width: auto;
    border: 1px solid #000000
}

table.withoutBorder{
    font-family: Helvetica, Arial;
    min-width: 50%;
    border: 0px none;
    border-collapse: collapse;
    padding: 0px;
}

table td.left {
    font-size:12px;
    text-align: left;
    padding: 3px 7px 2px 7px;
}

.pad {
    padding: 6px;
}

table td {
    font-size:12px;
    padding: 0px;
    color: #3a5879;
    text-align: center;
}

table th {
    border-bottom: 1px solid black;
    font-size:12px;
    text-align:center;
    color:#000000;
}

table th.left {
    text-align:left;
    margin-left: 5px;
}

table th.right {
    border-bottom: none;
    text-align:right;
    padding: 1px;
    padding-left: 2px;
}

table th.large {
    padding-left: 10px;
    padding-right: 10px;
}

table.list {
	width: 100%;
}

table th.listHeader {
    line-height: 2;
}

table .list th .urn_show {
    border-right: 1px solid black;
}

table.list tr > td:first-child {
    width: 10px;
}

table.list tfoot tr > td:last-child {
    background-color: #ffffff;
}

table.list tbody tr:nth-child(odd)    {
    background-color:#eee;
}

table.list tbody tr:nth-child(even)    {
    background-color:#fff;
}

table.list tbody tr:hover {
    background-color: #CCC;
}

table.list tbody tr:hover {
   cursor: default;
}


table.flow tr > td:first-child {
    width: 20px;
}

table.flow tr:nth-child(odd)    {
    background-color:#eee;
}

table.flow tr:nth-child(even)    {
    background-color:#fff;
}

table.flow tr:nth-child(odd)    {
    background-color:#eee;
}

table.flow tr:nth-child(even)    {
    background-color:#fff;
}

img.edit {
    border: 0px;
    cursor: pointer;
}

img.delete {
    border: 0px;
    cursor: pointer;
}

img.loading {
    border: 0px;
    padding: 7px;
    float: right;
}

input[type='submit'], input[type='button'], input[type='checkbox'] {
    text-align: center;
    /*color: #000000;
    font-weight: bold;
    text-indent: 18px;*/
    cursor: pointer;
    height: 25px;
    border: 0px;
    margin: 10px;
}

input[type='checkbox'] {
    vertical-align: middle;
}

div.controls {
    width: 100%;
    min-width: 100%;
}

div.control_tab {
    width: 100%;
    min-width: 100%;
    bottom: 0;
    margin-bottom: 15px;
    height: 40px;
}

input.back{
    background-image:  url('../img/back.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}
input.password{
    background-image:  url('../img/password_1.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.answer{
    background-image:  url('../img/answer_1.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.remove{
    background-image:  url('../img/remove.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.zoom{
    background-image:  url('../img/zoom_fit.png') ;
    background-repeat:  no-repeat;
    background-position: 1px 1px;
    /* figura tem 18px 18px*/
}
input.clear{
    background-image:  url('../img/clear.png') ;
    background-repeat:  no-repeat;
    background-position: 4px 3px;
    /* figura tem 18px 18px*/
}
input.invert{
    background-image:  url('../img/switch.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.mapview{
    background-image:  url('../img/map.png') ;
    background-repeat:  no-repeat;
    background-position: 2px -1px;
    /* figura tem 18px 18px*/
}
input.advancedview{
    background-image:  url('../img/advanced_directory.png') ;
    background-repeat:  no-repeat;
    background-position: 2px 2px;
    /* figura tem 18px 18px*/
}

div.topItem {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: thin;    
    text-decoration: none;
}

div.topItem a:link, div.topItem a:visited  {
    font-weight: bold;   
    text-decoration: none;    
    color: #000000;
}

div.topItem:hover{
    background-color: #CCC;
}

div.subItem a:link, div.subItem a:visited {
    text-decoration: none;
    font-weight: lighter;
    color: #000000;
}

div.subItem:hover{
    background-color: #CCC;
}

div.subItem {
    text-transform: none;
    text-indent: 15px;
}

#flash_box div.success {
	border: 1px solid #408c39; background: #d9ffd7 url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #408c39;
}
#flash_box div.error {
	border: 1px solid #900; background: #ffdbdb url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #900;
}
#flash_box div.fatal {
	border: 1px solid #900; background: #ffdbdb url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #900;
}
#flash_box div.warning {
	border: 1px solid #e18a29; background: #fff5de url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #e18a29;
}
#flash_box div.info {
	border: 1px solid #007cc2; background: #c4eaff url(images/ui-bg_inset-soft_95_fef1ec_1x100.png) 50% bottom repeat-x; color: #007cc2;
}

#contextMenu {
	position: absolute;
	min-width: 100px;
	z-index: 1000;
	background: #fff;
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #676767;
	border-right: solid 1px #676767;
	padding: 0px;
	margin: 0px;
	display:none;
}

#contextMenu a {
	color: #000;
	text-decoration: none;
	display: block;
	line-height: 22px;
	height: 22px;
	padding: 1px 10px;
}

#contextMenu li {
	list-style: none;
	padding: 1px;
	margin: 0px;
}

#contextMenu li.hover a {
	background-color: #A7C4FA;
}

#contextMenu li.separator {
	border-top: solid 1px #ccc;
}

table.icons tr.new_line > td {
    padding-bottom: 2em;
}

img {
    border: 0px;
}
table.icons {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 0%;
    padding: 10px;
    position: relative;
    top: -10%;
    width: 60%;
    border: 0px none;    
}

table.icons td {
    color: #000000;
}

ul.tabs:not(.inactive) {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; /*--Define a altura das abas--*/
border-bottom: 1px solid #999;
border-left: 0.6px solid #999;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
ul.tabs li {
float: left;
margin: 0;
padding: 0;
height: 31px; /*--diminui 1px da altura da lista nao ordenada--*/
line-height: 31px; /*--Alinha o texto verticalmente na aba--*/
border: 1px solid #999;
margin-bottom: -1px; /*--“empurra” o item da lista 1px para baixo--*/
overflow: hidden;
position: relative;
background: #e0e0e0;
background-color: #ffffff;
color: #000000;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
ul.tabs li a {
text-decoration: none;
color: #000;
display: block;
font-size: 14px;
padding: 0 10px;
border: 1px solid #fff; /*--deixa um efeito de relevo com uma borda branca de 1px dentro do item da lista--*/
outline: none;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

ul.tabs li a .confirm{
text-decoration: none;
color: #ffffff;
display: block;
font-size: 1.2em;
padding: 0 20px;
border: 1px solid #fff; /*--deixa um efeito de relevo com uma borda branca de 1px dentro do item da lista--*/
outline: none;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

ul.tabs li a:hover {
background: #fff;
color: #3A5879;
}
html ul.tabs.active, html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover { /*--Faz a lista ativa nao obedecer as propriedades do hover--*/
background-color: #fff;
color: #000000;
border-bottom: 1px solid #fff; /*--faz a aba ativa parecer conectada com seu conteudo--*/
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.tab_container:not(.inactive) {
border: 1px solid #999;
border-top: none;
overflow: hidden;
clear: both;
float: left; width: 100%;
background: #fff;
min-height: 500px;
margin-bottom: 15px;
}

.tab_container.inactive {
overflow: hidden;
clear: both;
float: left; 
background: #fff;
}

.tab_content {
padding: 20px;
font-size: 1.1em;
text-indent: 30pt;
}

div#main a.link_tab, div#main a.link_tab:visited {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}
div#main a.link_tab:hover, div#main a.link_tab:visited:hover {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}
div#main .ui-state-disabled a.link_tab:hover:not, div#main .ui-state-disabled a.link_tab:visited:hover {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    text-decoration: none;
}
div#main ul.tabs li.active a.link_tab, div#main ul.tabs li.active a.link_tab:visited {
    background-color: #fff;
    color: #000000;
    font-size: 12px;
    border-bottom: 1px solid #fff;
}

ul.tabs.inactive {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; /*--Define a altura das abas--*/
border-bottom: 1px solid #999;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#auxDiv {
    opacity: 0.5; 
    display:none; 
    width: 1345px; 
    height: 756px; 
    position: absolute; 
    z-index: 1; 
    background-color: #666666
}

#recurrence {
    display:none; 
    background-color: white
}

#recurrence-footer{
    background-color: #eee;
    width: 100%;
    height: 55px;
}

#recurrence_cancel {
    margin: 0;
    top: 15px;
    left: 10px;
    position: relative;
}

#recurrence_ok {
    margin: 0;
    right: 10px;
    top: 15px;
    position: relative;
}

#recurrence-flash {
    display: none;
    width: 100%;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    text-indent: 10px;
    background-color: #FFCC00;;    
}

#edit_map_canvas {
    width: 100%; 
    height: 300px;
}

#slider {
    width: 40%;    
}

#view_map_canvas {
    width: 100%;
    height: 200px;
}

#confirmation_endpoints, #confirmation_endpoints .flow {
    width: 100%;
}

#div-bandwidth {
    display: none;
}

#Sunday, #Monday, #Tuesday, #Wednesday, #Thursday, #Friday, #Saturday {
    margin: 0px;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 0.9em;
}

div#main #t3 {
    background-color: #9ACD32;
    color: #ffffff;
}

div#main #t1.active {
    border-left: 1px solid #FFFFFF;
}

div#main #l3:link, div#main #l3:visited, div#main #l3:hover, div#main #l3:visited:hover {
    text-decoration: none;
    font-size: 12px;
    background-color: #8FBC8F;
    border: #8FBC8F;
    color: #000000;    
}

.recurrence_table {
    padding: 3px;
}

table .reservation_name {
    padding: 0px;
}

div#flash_box .closeFlash {
    background-image:  url('../img/delete_2.png') ;
    background-color: transparent;
    background-repeat:  no-repeat;
    background-position: center;  
    height: auto;
    margin: 3px;
    float: right;
}

.close-button{
	float: right; 
	margin-left: .3em; 
	cursor: pointer;
}

.fixed {
    position: fixed;
    z-index: 5;
}

div.shadow {
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.7);
}

#cancel_button {
    float:right;
}



















#menu, #system_date {
	width: 130px;
}

#menu {
	float: left;
	height: 100%;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #DDD;
	background-color: #F4F4F4;
}

#logo, #info_box {
	height: 26px;

	color: #D8E7F3;
	background-color: #27567C;

	border-width: thin;
	border-style: solid;
	border-top-color: #5B7399;
	border-left-color: #5B7399;
	border-right-color: #1D405C;
	border-bottom-color: #1D405C;
}

#logo p {
	text-align: center;
	margin: 0;
	padding: 0.2em 0.5em 0.5em 0.5em;
	font-weight: bolder;
	font-size: 16px;
	text-shadow: 2px 2px 0.2em black, -1px -1px #444;
}

#info_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#info_box ul a {
	float: right;
	display: block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	color: #D8E7F3;
	text-decoration: none;	
	text-shadow: 2px 2px 0.2em black, -1px -1px #444;
	border-left-style:solid;
	border-left-color:#5B7399;
	border-left-width:thin;
}

#info_box ul a:hover {
	/* background-color: #1D405C; */
	background-color: #9D3C3E;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	margin: 0 0.5em 0 0em;
	padding: 1em 1em 1em 1.1em;
	font-size: 13px;
	font-weight: bold;
}

#menu ul a {
	margin: 0;
	padding: 1em 1em 1em 1.1em;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	border-style: none;
}

#menu ul a:hover {
	background-color: #DFDFDF;
}

#menu ul ul {
	padding: 0 0 1em 0;
	margin: 0;
}

#menu ul ul li {
	padding: 0;
	margin: 0;
}

#menu ul ul a {
	padding: 0.25em 0 0.25em 1.7em;
	font-size: 12px;
	font-weight	: normal;
	text-decoration: none;
	display: block;
	border-style: none;
	margin: 0;
}

#menu ul ul a:hover {
	background-color: #DFDFDF;
}

#system_date {
	padding: 0.2em 0 0.2em 0;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-top-color: #DDD;
	border-top-style: solid;
	border-top-width: thin;
	background-color: #EEE;
}

#canvas {
	height: 100%;
	background-color: #FFF;
	overflow: auto;
}

#workspace {
	padding: 1em;
	color: #4F4F4F;
}

h1 {
	font-size: 17px;
	margin: 0;
	padding: 0 0 0.5em 0;
}

input[type="text"] {
	height: 21px;
	border: thin solid #BBB;
	font-family:Arial, Helvetica, sans-serif;
	color: #4F4F4F;
	background-color: white;
}

input[type="text"]:hover {
	border: thin solid red;
}

input[type="submit"] {
	border: thin solid #BBB;
	padding: 3px 5px;
	box-shadow: -1px -1px 2px #DDD, 2px 2px 2px #FFFFFF, inset 2px 2px 2px #FFFFFF, inset -1px -1px 2px #DDD;
	text-shadow: 2px 2px 1px #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
/*	color: #4F4F4F;*/
	background-color: #EEE;
}

input[type="submit"]:hover {
	/*border: thin solid #853A40;
	background-color: #F44;
	color: #FFFFFF;*/
	box-shadow: inset 2px 2px 2px #FAA, inset -1px -1px 2px #922;
	text-shadow: -1px -1px 2px #922, 1px 1px 2px #FAA;
}

#bandwidth_bar {
	background-color:white;
	border-color: #BBB;
	border-width:thin;
	border-style: none solid;
	width:40px;
	height:90px;
	margin: auto;
	box-shadow: 2px 2px 4px #888;"
}

#bandwidth_bar div {
	background-color: #F44;
	box-shadow: inset 2px 0px 4px #FCC, inset -1px 0px 4px #922;
	margin: auto;
	width: 60%;
	height: 100%;
}

#bandwidth_bar div div {
	background: white;
	border-color: #000;
	border-style: solid;
	border-width: thin;
	height: auto;
	width: auto;
	margin: auto auto;
}

.tabs ul {
	list-style: none;
	padding: 4px 0 4px 0;
	margin: 0;
}

.tabs li {
	display: inline;
	border: solid;
	border-width: 1px 1px 0 1px;
	padding: 4px 0 4px 0;
	margin: 0 0.2em 0 0;
	border-color: #DDD;
	background-color: white;
}

.tabs li a {
	padding: 4px 0.8em 4px 0.8em;
	text-decoration: none;
}

.tabs li a:hover {
	background: #F4F4F4;
}

.tabs #selected {
	padding-bottom: 5px; 
	background: #F4F4F4;
}

.tabs #selected a:hover {
	background: #F4F4F4;
	cursor: default;
}

.tab_content {
	float: left;
	border: 1px solid #BBB;
	padding: 0.5em 0.7em 0.5em 0.9em;
	background-color: #EEE;
	box-shadow: 2px 2px 4px #888;
}

/* Cores das fontes */

#menu ul li, #menu ul a, #menu ul ul a { /* Itens do menu principal */
	color: #4F4F4F;
}

.tabs li a { /* Títulos das tabs */
	color: #4F4F4F;
}

#system_date { /* Data do sistema */
	color: #4F4F4F;
}

h1 { /* Títulos principais */
	color: #D00;
}

.feedback-panel {
    padding:20px;
    width: 250px;
    position:absolute;
    top:-500px;
    right:0px;
}
 
.feedback-panel a.feedback-tab {
    background:transparent url(feedbacktab.gif) no-repeat scroll 0 0;
    border-width: 1px 1px 1px 0;
    display:block;
    height:99px;
    left:51px;
    bottom:21px;
    position:relative;
    float:right;
    text-indent:-9999px;
    width:30px;
    outline:none;
}
 
#response-message {
    background: #ccc;
    border: 1px solid #999;
    padding:50px;
}
