label.point-info {
    margin-bottom: 0;
}

label.dom-l {
    font-weight: normal;
} 

.qtip-content {
    font-size: 12px;
}

.fc-toolbar .fc-center h2 {
    margin-top: 10px;
    margin-left:20px;
    margin-right: 20px;
    font-size: 17px;
}

.stp-cluster-ff0000 {
  border-radius: 20px;
  background-color: #ff0000;
  text-align: center;
  font-size: 10px;
  padding-top: 12px;
}

.stp-cluster-00ff00 {
  border-radius: 20px;
  background-color: #00ff00;
  text-align: center;
  font-size: 10px;
  padding-top: 12px;
}