.WireIt-Container, .WireIt-Wire {
  pointer-events: none;
}

.WireIt-Container-closebutton{
	display: none;
}

div.WireIt-Container {
    width: 80px; /* Prevent the modules from scratching on the right */
}

div.WireIt-Container div.body{
    border: 0px;
}

div.WireIt-InputExTerminal {
    float: left;
    width: 21px;
    height: 21px;
    position: relative;
}

div.WireIt-InputExTerminal div.WireIt-Terminal {
    top: -3px;
    left: -7px;
}

div.inputEx-Group div.inputEx-label{
    width:80px;
}

div.inputEx-Field{
	padding: 0.2em 0.5em 0 0;
}

div.Bubble div.body {
    width: 70px;
    height: 45px;
    opacity: 0.8;
    cursor: move;
}

.WiringEditor-module span {
    position: relative;
    top: -3px;
    display: none;
}

.inputEx-InPlaceEdit-visu{
    width: 70px;
    text-align: center;
}

.WiringEditor-module-New_Request .body, .WiringEditor-module-Deny_Automatically .body, .WiringEditor-module-Accept_Automatically .body{
    width: 40px;
    height: 40px;
}

.WiringEditor-module-Duration .body, .WiringEditor-module-Device .body, .WiringEditor-module-Group .body, .WiringEditor-module-WeekDay .body, .WiringEditor-module-Hour .body, .WiringEditor-module-Domain .body, .WiringEditor-module-User .body, .WiringEditor-module-Bandwidth .body, .WiringEditor-module-Request_Group_Authorization .body, .WiringEditor-module-Request_User_Authorization .body{
    width: 57px;
    height: 40px;
}

.WiringEditor-module-Bandwidth input[type="text"], .WiringEditor-module-Duration input[type="text"] {
	width: 60px;
}
      
.WireIt-MeicanContainer  > .body > .inputEx-Group {
    position: absolute;
    top: 50px;
    left: -3px;
}

.yui-layout .yui-layout-unit div.yui-layout-hd h2 {
	font-weight: bold;
	text-align: center;
}

div.WireIt-Layer {
	overflow: auto;
}
      
.worflow-editor-area {
	border: solid #BBB 1px;
	box-shadow: 2px 2px 4px #888;
}

#center {
	height: 98%;
}

#propertiesForm .inputEx-fieldWrapper{
	float: left;
	margin-right: 8px;
}

#propertiesForm select {
	font-size: 18px;
	height: 23px;
}

#propertiesForm label {
	color: #4F4F4F;
	font-weight: bold;
	font-size: 18px;
}

#propertiesForm div.inputEx-Group div.inputEx-label {
	width: inherit;
}

#propertiesForm input {
	font-size: 18px;
}