version: '3'

services:
  meican:
    image: meican_image:$MEICAN_VERSION
    build:
      context: .
      args:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD
      - MEICAN_VERSION
    container_name: meican-app
    tty: true
    restart: always
    ports:
      - "$MEICAN_PORT:80"
    depends_on:
      - db
    links:
      - db

  db:
    image: mysql:5.7
    container_name: meican-db
    volumes:
      - db-meican:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
      - MYSQL_USER
      - MYSQL_PASSWORD

volumes:
  db-meican: