.pagination {
	-webkit-padding-start: 0px;
}

.pagination li {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	display: block;
	padding: 1px;
	color:#27567c;
}

.pagination .active {
	background-color:#eeeeee;
	color:#27567c;
}

.pagination a {
	border: 1px solid #dddddd;
	background: #fefefe;
	color: #27567c;
	text-decoration: none;
	float: left;
	padding: 0.22em;
}

.pagination .active a {
	border: 1px solid #5b7399;
	background: #27567c;
	color: #ffffff !important;
}

.pagination a:visited {
	color: #408DCC;
}

.pagination a {
	color: #408DCC !important;
}

.pagination .active a:visited {
	color: #ffffff !important;
}

.pagination span {
	border: 1px solid #dddddd;
	background: #fefefe;
	color: #dddddd;
	text-decoration: none;
	float: left;
	padding: 0.22em;
}