/* 
    Document   : teste
    Created on : 25/02/2011, 13:35:22
    Author     : pfbiasuz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Tabela de disposição dos boxes iniciais */
body {
       background-color: #3a5879;
       font-family: helvetica, arial;
       font-size: 14px;
       margin: 0px;
}

div#header {
    width: 100%;
    height: 110px;
    min-width: 800px;
    color: white;
    clear: both;
    float: left;
    font-size: 14px;
}
#header a:link, #header a:visited {
    color:white;
    text-decoration: none;
}

#header a:hover{
    text-decoration: underline;
}

div#logo_box {
    width: 10%;
    float: left;

}
div#info_box {
    min-width: 500px;
    width: 27%;
    margin-right: 15px;
    margin-top: 90px;
    font-size: 12px;
    text-align: right;
    overflow: auto;
    float: right;
}

div#content {
    width: 100%;
    min-width: 950px;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #FFF;
    float: left;
}

div#main a:link, div#main a:visited {
        text-decoration: none;
        color: #0000CC;
}

div#content a:hover {
        text-decoration: underline;
}


div#flash_box {
    min-width: 680px;
    width: 67.5%;
    float: left;
    vertical-align: bottom;
    margin: 10px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    text-indent: 10px;
    background-color: white;
}
div#menu {
    width: 10%;
    min-width: 120px;
    float: left;
    background-color: #EEEEEE;
    color: #000000;
    padding: 10px;
}
div#main {
    width: 80%;
    float: left;
    background-color: #FFF;
    margin-left: 12px;        
}
div#load_img {
    text-align: center;
    margin: 150px auto;
}

div#footer {
    color: #EEEEEE;
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding: 10px;

}
div#footer a:link, div#footer a:visited{
    color: #EEEEEE;
    font-size: 0.8em;
}

img.logo {
    padding: 10px;
    border: 1px;
    margin: 0px;
}

.icons td {
    font-size: 16px;
}

table {
    font-family: Helvetica, Arial;
    min-width: 50%;
    border-collapse: collapse;
    padding: 3px 7px 2px 7px;
}

table td {
    font-size:14px;
    padding: 7px 7px 7px 7px;
}

table th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#3a5879;
    color:#ffffff;
    padding: 3px 7px 2px 7px;
}

table.list tr > td:first-child {
    width: 10px;
}

table.list tfoot tr > td:last-child {
    background-color: #ffffff;
}

table.list tbody tr:nth-child(odd)    {
    background-color:#eee;
}

table.list tbody tr:nth-child(even)    {
    background-color:#fff;
}

table.list tbody tr:hover {
    background-color: #CCC;
}

table.list tbody tr:hover {
   cursor: default;
}


table.flow tr > td:first-child {
    width: 20px;
}

table.flow tr:nth-child(odd)    {
    background-color:#eee;
}

table.flow tr:nth-child(even)    {
    background-color:#fff;
}

table.flow tr:nth-child(odd)    {
    background-color:#eee;
}

table.flow tr:nth-child(even)    {
    background-color:#fff;
}

img.edit {
    border: 0px;
    cursor: pointer;
}

img.delete {
    border: 0px;
    cursor: pointer;
}

img.loading {
    border: 0px;
    padding: 7px;
    float: right;
}

input[type='submit'], input[type='button'], input[type='checkbox'] {
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-indent: 18px;
    cursor: pointer;
    height: 25px;
    border: 0px;
    margin: 10px;
}

input.delete{
    background-image:  url('img/remove.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
   /* figura tem 18px 18px*/
   float: left;
}

input.add{
    background-image:  url('img/add2_2.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}

input.add_new{
    background-image:  url('img/add2_2.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: left;
}

input.update{
    background-image:  url('img/update.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}

input.cancel{
    background-image:  url('img/cancel.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float:left;
    
}

input.refresh{
    background-image:  url('img/refresh.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}

input.save{
    background-image:  url('img/save_1.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}

input.ok{
    background-image:  url('img/ok.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}

input.next{
    background-image:  url('img/next.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}

div.controls {
    width: 100%;
    min-width: 100%;
}

input.back{
    background-image:  url('img/back.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
    float: right;
}
input.password{
    background-image:  url('img/password_1.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.answer{
    background-image:  url('img/answer_1.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.remove{
    background-image:  url('img/remove.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.zoom{
    background-image:  url('img/zoom_fit.png') ;
    background-repeat:  no-repeat;
    background-position: 1px 1px;
    /* figura tem 18px 18px*/
}
input.clear{
    background-image:  url('img/clear.png') ;
    background-repeat:  no-repeat;
    background-position: 4px 3px;
    /* figura tem 18px 18px*/
}
input.invert{
    background-image:  url('img/switch.png') ;
    background-repeat:  no-repeat;
    background-position: 3px 2px;
    /* figura tem 18px 18px*/
}
input.mapview{
    background-image:  url('img/map.png') ;
    background-repeat:  no-repeat;
    background-position: 2px -1px;
    /* figura tem 18px 18px*/
}
input.advancedview{
    background-image:  url('img/advanced_directory.png') ;
    background-repeat:  no-repeat;
    background-position: 2px 2px;
    /* figura tem 18px 18px*/
}

div.topItem {
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: thin;    
    text-decoration: none;
}

div.topItem a:link, div.topItem a:visited  {
    font-weight: bold;   
    text-decoration: none;    
    color: #000000;
}

div.topItem:hover{
    background-color: #CCC;
}

div.subItem a:link, div.subItem a:visited {
    text-decoration: none;
    font-weight: lighter;
    color: #000000;
}

div.subItem:hover{
    background-color: #CCC;
}

div.subItem {
    text-transform: none;
    text-indent: 15px;
}

#flash_box div.success {
    background-color: #A7C942;
}
#flash_box div.error {
    background-color: #FF0033;
}
#flash_box div.fatal {
    background-color: #FF0000;
}
#flash_box div.warning {
    background-color: #FFCC00;
}
#flash_box div.info {
    background-color: #3399FF;
}

#contextMenu {
	position: absolute;
	min-width: 100px;
	z-index: 1000;
	background: #fff;
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #676767;
	border-right: solid 1px #676767;
	padding: 0px;
	margin: 0px;
	display:none;
}

#contextMenu a {
	color: #000;
	text-decoration: none;
	display: block;
	line-height: 22px;
	height: 22px;
	padding: 1px 10px;
}

#contextMenu li {
	list-style: none;
	padding: 1px;
	margin: 0px;
}

#contextMenu li.hover a {
	background-color: #A7C4FA;
}

#contextMenu li.separator {
	border-top: solid 1px #ccc;
}

table.icons tr.new_line > td {
    padding-bottom: 2em;
}

img {
    border: 0px;
}
table.icons {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 0%;
    padding: 10px;
    position: relative;
    top: -10%;
    width: 60%;
}

ul.tabs:not(.inactive) {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; /*--Define a altura das abas--*/
border-bottom: 1px solid #999;
border-left: 0.6px solid #999;
width: 100%;
-moz-border-radius-topleft: 10px;
border-radius-topleft: 10px;
border-radius-topright: 10px;
-moz-border-radius-topright: 10px;
}
ul.tabs li {
float: left;
margin: 0;
padding: 0;
height: 31px; /*--diminui 1px da altura da lista nao ordenada--*/
line-height: 31px; /*--Alinha o texto verticalmente na aba--*/
border: 1px solid #999;
margin-bottom: -1px; /*--“empurra” o item da lista 1px para baixo--*/
overflow: hidden;
position: relative;
background: #e0e0e0;
background-color: #ffffff;
color: #3A5879;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}
ul.tabs li a {
text-decoration: none;
color: #000;
display: block;
font-size: 14px;
padding: 0 10px;
border: 1px solid #fff; /*--deixa um efeito de relevo com uma borda branca de 1px dentro do item da lista--*/
outline: none;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}

ul.tabs li a .confirm{
text-decoration: none;
color: #ffffff;
display: block;
font-size: 1.2em;
padding: 0 20px;
border: 1px solid #fff; /*--deixa um efeito de relevo com uma borda branca de 1px dentro do item da lista--*/
outline: none;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}

ul.tabs li a:hover {
background: #fff;
color: #3A5879;
}
html ul.tabs.active, html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover { /*--Faz a lista ativa nao obedecer as propriedades do hover--*/
background-color: #fff;
color: #3A5879;
border-bottom: 1px solid #fff; /*--faz a aba ativa parecer conectada com seu conteudo--*/
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}

.tab_container:not(.inactive) {
border: 1px solid #999;
border-top: none;
overflow: hidden;
clear: both;
float: left; width: 100%;
background: #fff;
}

.tab_container.inactive {
border: 1px solid #999;
border-top: none;
overflow: hidden;
clear: both;
float: left; 
background: #fff;
}

.tab_content {
padding: 20px;
font-size: 1.1em;
text-indent: 30pt;
}

div#main a.link_tab, div#main a.link_tab:visited {
    color: #3A5879;
    font-weight: bold;
    text-decoration: none;
}
div#main a.link_tab:hover, div#main a.link_tab:visited:hover {
    background-color: #ffffff;
    color: #3A5879;
    text-decoration: none;
}
div#main .ui-state-disabled a.link_tab:hover:not, div#main .ui-state-disabled a.link_tab:visited:hover {
    background-color: #ffffff;
    color: #3A5879;
    text-decoration: none;
}
div#main ul.tabs li.active a.link_tab, div#main ul.tabs li.active a.link_tab:visited {
    background-color: #fff;
    color: #3A5879;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}

ul.tabs.inactive {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px; /*--Define a altura das abas--*/
border-bottom: 1px solid #999;
border-left: 0.6px solid #999;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
}

#auxDiv {
    opacity: 0.5; 
    display:none; 
    width: 1345px; 
    height: 756px; 
    position: absolute; 
    z-index: 1; 
    background-color: #666666
}

#recurrence {
    border: 2px solid #3A5879; 
    top:100px; 
    left: 50%; 
    margin-left: -300px;
    display:none; 
    width: 600px; 
    position: absolute; 
    z-index: 2; 
    background-color: white
}

#recurrence-footer{
    background-color: #eee;
    width: 100%;
    height: 55px;
}

#recurrence_cancel {
    margin: 0;
    top: 15px;
    left: 10px;
    position: relative;
}

#recurrence_ok {
    margin: 0;
    right: 10px;
    top: 15px;
    position: relative;
}

#recurrence-flash {
    display: none;
    width: 100%;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    text-indent: 10px;
    background-color: #FFCC00;;    
}

#recurrence-edit {
    display:none;
}

#edit_map_canvas {
    width: 100%; 
    height: 300px;
}

#slider {
    width: 40%;    
}

#view_map_canvas {
    width: 100%;
    height: 200px;
}

#confirmation_endpoints, #confirmation_endpoints .flow {
    width: 100%;
}

#div-bandwidth {
    display: none;
}

#Sunday, #Monday, #Tuesday, #Wednesday, #Thursday, #Friday, #Saturday {
    margin: 0px;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

div#main #t3 {
    background-color: #9ACD32;
    color: #ffffff;
}

div#main #l3:link, div#main #l3:visited, div#main #l3:hover, div#main #l3:visited:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: #9ACD32;
    color: #3A5879;    
}

.recurrence_table {
    padding: 3px;
}

table .reservation_name {
    padding: 0px;
}