/* =============================================================================
   Notification
   ========================================================================== */

#notification_li.hidden {background-color: #27567C!important;}
#notification_li.show {background-color: #1F4562!important;}
#notification_li:hover {background-color: #1F4562!important;}

#notification_body::-webkit-scrollbar {
    width: 5px;
}
 
#notification_body::-webkit-scrollbar-thumb {
    background: gray;
}

#notification_body table td {
    text-align: left;
    padding: none;
}

#notification_count {
	padding: 3px 7px 3px 7px;
	background: #00cc00;
	color: #ffffff;
	font-weight: bold;
	margin-left: 77px;
	border-radius: 9px;
	-moz-border-radius: 9px; 
	-webkit-border-radius: 9px;
	position: absolute;
	margin-top: -11px;
	font-size: 11px;
}

#notification_li{
	margin: 0px;
	padding: 0px;
	position:relative;
	z-index: 98;
	height: 32px;
	text-align: center;
}

#notification_link {
	background: url('../images/requestsIcon.png') no-repeat 6px 5px;
	height: 32px;
	width: 32px;
	cursor: pointer;
}

#notification_link span {
	text-align: center;
	position: absolute;
	width: 10px;
	right: 4px !important;
	top: 7px !important;
	text-shadow: none !important;
}

#notification_link .empty {
	background-color: #ffffff;
	color: #27567C !important;
    border-radius: 15px;
    float: left;
    font-size: 9px;
    height: 14px;
    margin: 16px 15px;
    width: 16px;
    padding: 0px 0px 0px 0px;
}

#notification_link .full {
	background-color: #ff4444;
	color: #ffffff !important;
    border-radius: 15px;
    float: left;
    font-size: 9px;
    height: 14px;
    margin: 16px 15px;
    width: 16px;
    padding: 0px 0px 0px 0px;
}

#notification_container {
	background-color: #ffffff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	overflow: visible;
	position: absolute;
	top: 42px;
	margin-left: -140px;
	width: 310px;
	z-index: -1;
	display: none;
}

#notification_container:before {
	content: '';
	display: block;
	position: absolute;
	color: transparent;
	border: 10px solid black;
	border-color: #1F4562 transparent transparent;
	margin-top: -11px;
	margin-left: 145px;
}

#notification_container a {
    position: relative;
    color: #27567C;
    text-shadow: none;
    text-decoration: none;
    display: block;
    margin: 0 0;
}

#notification_footer1{
	background-color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	height: 32px;
	border-top: 1px solid #dddddd;
}

#notification_footer2{
	background-color: #ffffff;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	height: 32px;
	border-top: 1px solid #dddddd;
}

#notification_title{
	background-color: #ffffff;
	height: 11px;
	border-bottom: 1px solid #dddddd;
}

#notification_body {
	width: 305px;
	margin-left: 5px;
	margin-right: 5px;
	max-height: 405px;
	overflow: auto;
	background-color: #ffffff;
}

#notification_body img {
	max-width: 32px;
	max-height: 32px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#notification_body span {
	float: left !important;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
}

#notification_body h1 {
	font-weight: bold;
	font-size: 12px;
	color: #27567C;
	margin: 0px;
	line-height: 20px;
	text-shadow: none;
    text-decoration: none;
}

#notification_body h2 {
	font-weight: lighter;
	font-size: 12px;
	color: #4F4F4F;
	margin: 0px;
	line-height: 15px;
	text-shadow: none;
    text-decoration: none;
}

#notification_body h3 {
	font-weight: lighter;
	font-size: 10px;
	color: #999999;
	margin: 0px;
	margin-top: 2px;
	line-height: 10px;
	text-shadow: none;
    text-decoration: none;
}

#notification_body .new {
	background-color: #eeeeee;
}

#notification_body table{
	margin-left: 5px;
	margin-right: 5px;
}

#notification_body .image{
	width:32px;
	height: 32px;
	float:left;
	padding-right: 5px;
	padding-top: 5px;
}

#notification_body ul{
	text-align: left;
	text-shadow: none !important;
	max-width: 300px;
	width: auto;
}

#notification_body ul li{
	display: list-item;
	border-style: none;
	border-bottom: 1px solid #dddddd;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	width: 100%;
}

#notification_body ul li:hover {
	background-color: #DFEAFF !important;
}